body {
  margin: 0;
  font-family: 'DM Sans';
  background-color: #2B4865;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  color: #fbbead;
  text-decoration: none;
  padding: 10px;
}
nav{
  color: #256D85;
  font-size: 20px;
  margin: 0 auto;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.navLink{
  color: aliceblue;
  text-decoration: none;
  padding: 10px;
}
.navLink:hover{
  color: #8FE3CF;
}
/* .input-search{
  height: 30px;
  border-radius: 30px;
  text-align: center;
  padding: 3px;
  font-size: 15px;
  margin-left: 70%;
  margin-bottom: 30px;
  width: 20%;
  border: 1px solid #8FE3CF
} */

ul {
  display: inline;
  list-style-type: none;
  grid-template-columns: repeat(1, 1fr) !important;
}
li{
  margin-bottom: 30px;
  margin-right: 15px;
}
.css-1969cn9-MuiButtonBase-root-MuiPaginationItem-root{
  color: white !important;
  border: 1px solid rgba(143, 227, 207,0.3)!important;
}
.css-14q7c0c-MuiImageListItemBar-titleWrap {
  width: 50px;
}
@media (min-width: 600px) {
 li{
  /* 2 columnas*/
  margin-bottom: 30px;
 }
 ul{
  grid-template-columns: repeat(2, 1fr) !important;
 }
  }
  @media (min-width: 1000px) {
    ul{
     grid-template-columns: repeat(4, 1fr) !important;
    }
     }

